@import 'vars';
@import 'global';
@import 'fonts';


// HEADER

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__box{
    margin-left: auto;
    margin-right: 30px;
}
.box__text
    span{
        color: $red;
    }
.header__panel{
    display: flex;
}
.header__btn{
    margin-left: 7px;
    min-width: 72px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
        a{
            color: #fff;
            font-size: 12px;
            padding: 4px 13px;
    }
}
.btn__login{
    background-color: $green;
}
.btn__register{
    background-color: $red;
}
.header__bottom{
    background-color: $bg;
}
.header__menu{
    display: flex;
    height: 60px;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 38px;
            }
        a{
            color: #fff;
            font-size: 14px;
            line-height: 30px;
        }
    }
}


// SEARCH SECTION

.search{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 532px;
}
.search__content{
    text-align: center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
}
.search__title{
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
}
.search__text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}
.search__input{
    margin: 0 auto;
    max-width: 670px;
    position: relative;
    .input{
        width: 100%;
        height: 57px;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        padding-right: 65px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 30px;
        color: $text;
        &::placeholder{
            color: #90a4ae;
            font-weight: 500;
        }
        &:focus{
            outline: none;
        }
    }
    button{
        position: absolute;
        top: 18px;
        right: 20px;
        border: none;
        background-color: transparent;
        outline: none;
    }
}


// PRODUCTS SECTION

.products{
    background-color: #f4f6f5;
}
.products__panel{
    text-align: center;
    padding: 0px 3px 59px;
    button{
        font-weight: 500;
        font-size: 14px;
        background-color: #fff;
        outline: none;
        border: none;
        padding: 13px 21px;
        color: $bg;
    }
}
.products__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item{
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 32px;
    &:hover{
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
}
.item-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    width: inherit;
}
.products-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7ecf2;
}
.box-info{
    padding: 21px 13px 14px 32px;
    a{
        display: block;
        font-weight: 500;
    }
}
.products-name{
    margin-bottom: 7px;
    font-size: 18px;
    color: $bg;
}
.products-category{
    font-size: 14px;
    color: $green;
}
.products-price{
    font-size: 20px;
    font-weight: 700;
    color: $bg;
    margin-right: 31px;
}
.products-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-info{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.author-avatar{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 17px 13px 17px 32px;
}
.author-stars{
    margin-right: 33px;
    font-size: 12px;
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 48px 6px 112px;
        color: $bg;
        font-size: 16px;
        padding: 21px 32px 19px;
        border: none;
        outline: none;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    }
}
